@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 900;
  src: url(/assets/Fonts/static/NotoSansGeorgian/NotoSansGeorgian-Black.ttf);
}

@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 800;
  src: url(/assets/Fonts/static/NotoSansGeorgian/NotoSansGeorgian-ExtraBold.ttf);
}

@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 700;
  src: url(/assets/Fonts/static/NotoSansGeorgian/NotoSansGeorgian-Bold.ttf);
}

@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 600;
  src: url(/assets/Fonts/static/NotoSansGeorgian/NotoSansGeorgian-SemiBold.ttf);
}

@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 500;
  src: url(/assets/Fonts/static/NotoSansGeorgian/NotoSansGeorgian-Medium.ttf);
}

@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 400;
  src: url(/assets/Fonts/static/NotoSansGeorgian/NotoSansGeorgian-Regular.ttf);
}

@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 300;
  src: url(/assets/Fonts/static/NotoSansGeorgian/NotoSansGeorgian-Light.ttf);
}

@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 200;
  src: url(/assets/Fonts/static/NotoSansGeorgian/NotoSansGeorgian-ExtraLight.ttf);
}

@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 100;
  src: url(/assets/Fonts/static/NotoSansGeorgian/NotoSansGeorgian-Thin.ttf);
}

body {
  font-family: 'Noto Sans Georgian', sans-serif;
}

h1 {
  font-variant-caps: petite-caps;
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-size: 18px;
  font-variant-caps: all-petite-caps;
}

p {
  font-weight: 500;
  font-size: 14px;
}