@font-face {
  font-family: 'Noto Sans Georgian', sans-serif;
  src: url(assets/Fonts/NotoSansGeorgian-VariableFont_wdth\,wght.ttf);
}

body {
  font-family: 'Noto Sans Georgian', sans-serif;
}

h1 {
  font-variant-caps: petite-caps;
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-size: 18px;
  font-variant-caps: all-petite-caps;
}

p {
  font-weight: 500;
  font-size: 14px;
}