
/* Button Base */
.blue-button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    gap: 8px;
    width: auto;
    height: 48px;
    background: #1F5EDD;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.blue-button:enabled:hover{
    background: #2970FF;
}

.blue-button:enabled:focus{
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E0FF;
    border: 1px solid #84ADFF;
}

.blue-button:disabled{
    opacity: 0.3;
    cursor: default;
}

.blue-button-text{
    width: auto;
    font-family: 'Noto Sans Georgian';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.transparent-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    gap: 8px;
    width: auto;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 48px;
    background: transparent;      
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.transparent-button-text{
    width: auto;
    font-family: 'Noto Sans Georgian';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #2970FF;
}

.transparent-button:enabled:hover{
    background: #EEF4FF;
}

.transparent-button:enabled:focus{
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E0FF;
    border: 1px solid #84ADFF;
}
.input-description-error .material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 00;
    color: #7A0000;
    font-size: 16;
    margin: 8px;
  }

input {
    height: 48px;
    border: 1px solid rgba(201, 208, 225, 0.5);
    border-radius: 8px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 1rem;
    transition: background-color 0.5s ease-out;
  }
  input:enabled:hover{
    border: 1px solid #2970FF;
  }
  input:optional {
    border-color: rgba(201, 208, 225, 0.5);
  }
  input:required {
    border-color: rgba(201, 208, 225, 0.5);
  }
  input:invalid {
    border-color: rgba(255, 71, 71, 1);
  }
  input:disabled {
    background: #F9F9FB;
    border: 1px solid rgba(201, 208, 225, 0.5);
  }

label{
    padding: 0 8px;
    font-size: 14px;
}

.input-description-error{
    padding: 0 8px;
    color: rgba(122, 0, 0, 1);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.InputItem{
    display: flex;
    flex-direction: column;
    width: auto;
}