.container{
    display: flex;
    flex-direction: column;
    gap: 78px;
}




/* Global Colors */

.brown-color{
    color: #323232;
}
.grey-color-500{
    color: #757575;
}
.grey-color-700{
    color: #474747; 
}

.blue-color{
    color: #2970FF;
}

.black-color{
    color: #000000;
}
/* Global Colors Done*/







/* Global Text Format */

.formated-text-1{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.formated-text-2{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

.nowrap{
    white-space: nowrap;
}
/* Global Text Format Done */








/* Button, Inputs and Icons Base*/

.blue-button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    gap: 8px;
    width: auto;
    height: 48px;
    background: #1F5EDD;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    
}

.blue-button:enabled:hover{
    background: #2970FF;
}

.blue-button:enabled:focus{
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E0FF;
    border: 1px solid #84ADFF;
}

.blue-button:disabled{
    opacity: 0.3;
    cursor: default;
}

.blue-button-text{
    width: auto;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.transparent-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 20px;
    width: auto;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.3s ease-in-out;


}

.transparent-button:enabled:hover{
    background: #EEF4FF;
}


.transparent-button:disabled{
    opacity: 0.3;
    cursor: default;

}

.transparent-button-text{
    width: auto;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}


.blue-icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    width: 48px;
    height: 48px;
    background: #F5F8FF;
    border-radius: 10px;
    color: #1F5EDD;

}

.icon-button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.icon-button span{
    font-size: 16px;
}

.icon-button:enabled:hover{
    background: rgba(209, 224, 255, 1);
}

.icon-button:enabled:focus{
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E0FF;
    border: 1px solid #84ADFF;
}

.icon-button:disabled{
    opacity: 0.1;
    cursor: default;
}

.global-input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 14px;
    gap: 8px;
    width: 100%;
    height: 54px;
    border: 1px solid rgba(201, 208, 225, 0.3);
    border-radius: 8px;
}
.global-input:focus{
    box-shadow: 0px 0px 0px 3px #84DAFF;
}

.global-input::-webkit-input-placeholder{
    height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #757575;
}


.global-input:focus::-webkit-input-placeholder  {color:transparent; transition: 0.3s;}
.global-input:focus::-moz-placeholder   {color:transparent;}
.global-input:-moz-placeholder   {color:transparent;}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

.selected-mail-button{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    
    background: #F5F8FF;
    border-radius: 8px;
}

/* Button, Inputs and Icons Base Done*/






/* Top Authorization */

.top-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 100%;
    height: auto;
}

.top-text{
    width: 100%;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    mix-blend-mode: normal;
    text-transform: uppercase;
}



 
.authorization-metod{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.authorization-metod:hover{
    background: #F5F8FF;
}

.authorization-metod-icon{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    width: auto;
    height: auto;
    border-radius: 10px;
}
/* Top Authorization Done*/










/* Global Containers */
.active{
    display: flex !important;
}

.content-main-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.centered-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    min-width: 320px;
    max-width: 451px;
    height: auto;
}

.content-container{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: auto;
}

.form-main-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #D1E0FF;
    border-radius: 16px;
}


[aria-disabled="true"] {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.form-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: auto;
}

.form-middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 100%;
    height: auto;

}
.form-bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    width: 100%;
    height: 48px;
}



.inputs-main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 100%;
    height: auto;
}

.inputs-code-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap: 8px;
}
.inputs-code-container input{
    text-align: center;
}

/* Global Containers Done*/






